/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-abr-2017, 11:25:07
    Author     : steven
*/

#cabecera {
    background-image: url("EVENTOS.jpg"); 
    text-align: center;
    
}

#p_outputLabelid{
    font-size: medium;
}
fotosPrincipal{
    width: 50px; height: 50px;
}
#eventos, #panel, #colizq,#tyf{
    float:left;
}
#colizq{
    border-style: none;
    background-color: orange;
}
#ineve outputText{
   
}
#same{
   border:none;
}
#com{
    clear: both;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}
dataGrid{
    border: none;
    border-style: none;
}